<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908790280494-qkoieltuqasjplhe7eggnhul3vcf2poa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908790280494-qkoieltuqasjplhe7eggnhul3vcf2poa</string>
	<key>API_KEY</key>
	<string>AIzaSyCuI6iv-GN6i7m8y6_CWp9fT9TmPArKRpw</string>
	<key>GCM_SENDER_ID</key>
	<string>908790280494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ncode.mbom</string>
	<key>PROJECT_ID</key>
	<string>mbom-457c6</string>
	<key>STORAGE_BUCKET</key>
	<string>mbom-457c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908790280494:ios:29eff8141fabfabc8a8abf</string>
	<key>DATABASE_URL</key>
	<string>https://mbom-457c6.firebaseio.com</string>
</dict>
</plist>